In [ ]:
import numpy as np
import pandas as pd

1) Найдите евклидово расстояние между двумя Series a и b, не используя встроенную формулу.

In [ ]:
a = pd.Series([2, 4, 6, 8])
b = pd.Series([1, 3, 5, 7])

diff = a - b

squared_diff = diff**2

sum_squared_diff = np.sum(squared_diff)

euclidean_distance = np.sqrt(sum_squared_diff)

print("Евклидово расстояние: ", euclidean_distance)

Евклидово расстояние:  2.0

2) Найдите максимально возможное абсолютное значение корреляции каждого
столбца с другими столбцами следующего датафрейма.

In [ ]:
np.random.seed(10)
df = pd.DataFrame(np.random.randint(1, 100, 16).reshape(4, 4), columns=list('efgh'), index=list('abcd'))
print(df)

corr_matrix = df.corr().abs()

np.fill_diagonal(corr_matrix.values, 0)

max_corr_values = corr_matrix.max()

print("Максимальные значения корреляции:")
print(max_corr_values)

    e   f   g   h
a  10  16  65  29
b  90  94  30   9
c  74   1  41  37
d  17  12  55  89
Максимальные значения корреляции:
e    0.970688
f    0.666455
g    0.970688
h    0.603292
dtype: float64

3) Нормализуйте все столбцы приведенного ниже датафрейма путем вычитания
среднего значения столбца и деления на стандартное отклонение.
Сделайте так, чтобы все значения в датафрейме находились в диапазоне от 0 до 1.

In [ ]:
np.random.seed(10)
df = pd.DataFrame(np.random.randint(1, 100, 16).reshape(4, 4))

df_normalized = (df - df.mean()) / df.std()

df_normalized = (df_normalized - df_normalized.min()) / (df_normalized.max() - df_normalized.min())

print(df_normalized)

        0        1         2     3
0  0.0000  0.16129  1.000000  0.25
1  1.0000  1.00000  0.000000  0.00
2  0.8000  0.00000  0.314286  0.35
3  0.0875  0.11828  0.714286  1.00

4) Объедините датафреймы df1 и df2 по столбцам fruit-frukt и weight-ves так, чтобы остались только общие строки.

In [ ]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
'weight': ['low', 'medium', 'high'] * 3,
'price': np.random.randint(0, 100, 9)})
#print(df1)

df2 = pd.DataFrame({'frukt': ['apple', 'banana', 'melon'] * 2,
'ves': ['low', 'high'] * 3,
'price': np.random.randint(0, 100, 6)})
#print(df2)

df2 = df2.rename(columns={'frukt': 'fruit', 'ves': 'weight'})

# Объединение датафреймов по столбцам fruit и weight, оставляя только общие строки
merged_df = df1.merge(df2, on=['fruit', 'weight'])

print(merged_df)

   fruit weight  price_x  price_y
0  apple    low       28       11
1  apple    low        9       11
2  apple    low       80       11

5) К датафрейму, приведенному ниже, добавьте два столбца nearest_row и dist
содержащих номер ближайшего по евклидовому расстоянию столбца и само это
расстояние.

In [ ]:
df = pd.DataFrame(np.random.randint(1, 100, 16).reshape(4, 4), columns=list('efgh'), index=list('abcd'))

distances = np.sqrt(np.sum(np.square(df.values[:, np.newaxis] - df.values), axis=2))

# Исключаем расстояния до самих себя
np.fill_diagonal(distances, np.inf)
# Получение номеров ближайших строк и расстояний
nearest_row = np.argmin(distances, axis=1)
dist = np.min(distances, axis=1)

df['nearest_row'] = nearest_row
df['dist'] = dist

print(df)

    e   f   g   h  nearest_row       dist
a  34  85  97  89            3  71.575135
b  45   6   5  72            3  76.275815
c  89  89  51  55            0  79.454389
d  35  16  78  89            0  71.575135

6) Создайте датафрейм authors со столбцами author_id и author_name, в которых
соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].

Затем создайте датафрейм book cо столбцами author_id, book_title и price,в
которых соответственно содержатся данные: [1, 1, 1, 2, 2, 3, 3], ['Отцы и дети',
'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза',
'Таланты и поклонники'], [450, 300, 350, 500, 450, 370, 290].

In [ ]:
authors = pd.DataFrame({'author_id': [1, 2, 3],
                        'author_name': ['Тургенев', 'Чехов', 'Островский']})

books = pd.DataFrame({'author_id': [1, 1, 1, 2, 2, 3, 3],
                      'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо',
                                     'Толстый и тонкий', 'Дама с собачкой', 'Гроза',
                                     'Таланты и поклонники'],
                      'price': [450, 300, 350, 500, 450, 370, 290]})

print("Датафрейм authors:")
print(authors)

print("\nДатафрейм books:")
print(books)

Датафрейм authors:
   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

Датафрейм books:
   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

7) Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [ ]:
authors_price = pd.merge(authors, books, on='author_id')
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

8) Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью
самыми дорогими книгами.

In [ ]:
top5 = authors_price.sort_values('price', ascending=False).head(5)
print(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

9) Создайте датафрейм authors_stat на основе информации из authors_price.
В датафрейме authors_stat должны быть четыре столбца: author_name, min_price,
max_price и mean_price, в которых должны содержаться соответственно имя
автора, минимальная, максимальная и средняя цена на книги этого автора.

In [ ]:
authors_stat = authors_price.groupby('author_name').agg({
    'price': ['min', 'max', 'mean']
}).reset_index()

authors_stat.columns = ['author_name', 'min_price', 'max_price', 'mean_price']

print(authors_stat)

  author_name  min_price  max_price  mean_price
0  Островский        290        370  330.000000
1    Тургенев        300        450  366.666667
2       Чехов        450        500  475.000000

10) Создайте новый столбец в датафрейме authors_price под названием cover, в нем
будут располагаться данные о том, какая обложка у данной книги - твердая или
мягкая. В этот столбец поместите данные из следующего списка: ['твердая',
'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']. Просмотрите
документацию по функции pd.pivot_table. Для каждого автора посчитайте
суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого
функцию pd.pivot_table. При этом столбцы должны называться "твердая" и
"мягкая",а индексами должны быть фамилии авторов. Пропущенные значения
стоимостей заполните нулями. Назовите полученный датасет book_info и
сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из
этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что
датафреймы book_info и book_info2 идентичны.

In [ ]:
cover_data = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
authors_price['cover'] = cover_data

book_info = pd.pivot_table(authors_price, values='price', index='author_name', columns='cover', aggfunc='sum', fill_value=0)
book_info.columns = ['твердая', 'мягкая']
#print(book_info)

book_info.to_pickle('book_info.pkl')
book_info2 = pd.read_pickle('book_info.pkl')

are_equal = book_info.equals(book_info2)
print(are_equal)

True

Далее мы будем работать с небольшим датасетом data/excel-comp-data.xlsx. В нем представлена информация некоторой компании о продажах клиентам товаров в USA. Семантика столбцов следующая:

• account – номер счета клиента;

• name – имя клиента;

• street, city, state, postal-code – адресная информация клиента;

• Jan, Feb, Mar – сумма покупок клиента за соответствующие месяца.

Далее необходимо выполнить следующие задания.

11) Добавить столбец total с итоговыми объемами покупок для каждого клиента.

In [ ]:
df = pd.read_excel('excel-comp-data.xlsx')

df['total'] = df['Jan'] + df['Feb'] + df['Mar']
df

,account,name,street,city,state,postal-code,Jan,Feb,Mar,total
0,211829,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,Texas,28752,10000,62000,35000,107000
1,320563,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,NorthCarolina,38365,95000,45000,35000,175000
2,648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa,76517,91000,120000,35000,246000
3,109996,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,Maine,46021,45000,120000,10000,175000
4,121213,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California,49681,162000,120000,35000,317000
5,132971,"Williamson, Schumm and Hettinger",89403 Casimer Spring,Jeremieburgh,Arkansas,62785,150000,120000,35000,305000
6,145068,Casper LLC,340 Consuela Bridge Apt. 400,Lake Gabriellaton,Mississipi,18008,62000,120000,70000,252000
7,205217,Kovacek-Johnston,91971 Cronin Vista Suite 601,Deronville,RhodeIsland,53461,145000,95000,35000,275000
8,209744,Champlin-Morar,26739 Grant Lock,Lake Juliannton,Pennsylvania,64415,70000,95000,35000,200000
9,212303,Gerhold-Maggio,366 Maggio Grove Apt. 998,North Ras,Idaho,46308,70000,120000,35000,225000
10,214098,"Goodwin, Homenick and Jerde",649 Cierra Forks Apt. 078,Rosaberg,Tenessee,47743,45000,120000,55000,220000
11,231907,Hahn-Moore,18115 Olivine Throughway,Norbertomouth,NorthDakota,31415,150000,10000,162000,322000
12,242368,"Frami, Anderson and Donnelly",182 Bertie Road,East Davian,Iowa,72686,162000,120000,35000,317000
13,268755,Walsh-Haley,2624 Beatty Parkways,Goodwinmouth,RhodeIsland,31919,55000,120000,35000,210000
14,273274,McDermott PLC,8917 Bergstrom Meadow,Kathryneborough,Delaware,27933,150000,120000,70000,340000

12) Добавить еще одну строку к датафрейму с общими итогами по столбцам Jan, Feb, Mar, total.

In [ ]:
totals = df[['Jan', 'Feb', 'Mar', 'total']].sum()

df_total = df.append(totals, ignore_index=True)
df_total

<ipython-input-43-c45d64a7efae>:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_total = df.append(totals, ignore_index=True)

,account,name,street,city,state,postal-code,Jan,Feb,Mar,total
0,211829.0,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,Texas,28752.0,10000,62000,35000,107000
1,320563.0,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,NorthCarolina,38365.0,95000,45000,35000,175000
2,648336.0,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa,76517.0,91000,120000,35000,246000
3,109996.0,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,Maine,46021.0,45000,120000,10000,175000
4,121213.0,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California,49681.0,162000,120000,35000,317000
5,132971.0,"Williamson, Schumm and Hettinger",89403 Casimer Spring,Jeremieburgh,Arkansas,62785.0,150000,120000,35000,305000
6,145068.0,Casper LLC,340 Consuela Bridge Apt. 400,Lake Gabriellaton,Mississipi,18008.0,62000,120000,70000,252000
7,205217.0,Kovacek-Johnston,91971 Cronin Vista Suite 601,Deronville,RhodeIsland,53461.0,145000,95000,35000,275000
8,209744.0,Champlin-Morar,26739 Grant Lock,Lake Juliannton,Pennsylvania,64415.0,70000,95000,35000,200000
9,212303.0,Gerhold-Maggio,366 Maggio Grove Apt. 998,North Ras,Idaho,46308.0,70000,120000,35000,225000
10,214098.0,"Goodwin, Homenick and Jerde",649 Cierra Forks Apt. 078,Rosaberg,Tenessee,47743.0,45000,120000,55000,220000
11,231907.0,Hahn-Moore,18115 Olivine Throughway,Norbertomouth,NorthDakota,31415.0,150000,10000,162000,322000
12,242368.0,"Frami, Anderson and Donnelly",182 Bertie Road,East Davian,Iowa,72686.0,162000,120000,35000,317000
13,268755.0,Walsh-Haley,2624 Beatty Parkways,Goodwinmouth,RhodeIsland,31919.0,55000,120000,35000,210000
14,273274.0,McDermott PLC,8917 Bergstrom Meadow,Kathryneborough,Delaware,27933.0,150000,120000,70000,340000
15,NaN,NaN,NaN,NaN,NaN,NaN,1462000,1507000,717000,3686000

13) Далее необходимо добавить новый столбец abbrev (за столбцом postal-code),
который по названию штата необходимо заполнить аббревиатурой.

In [ ]:
!pip install fuzzywuzzy
from fuzzywuzzy import process

state_abbreviations = {
    "VERMONT": "VT", "GEORGIA": "GA", "IOWA": "IA", "Armed Forces Pacific": "AP",
    "GUAM": "GU", "KANSAS": "KS", "FLORIDA": "FL", "AMERICAN SAMOA": "AS",
    "NORTH CAROLINA": "NC", "HAWAII": "HI", "NEW YORK": "NY", "CALIFORNIA": "CA",
    "ALABAMA": "AL", "IDAHO": "ID", "FEDERATED STATES OF MICRONESIA": "FM",
    "Armed Forces Americas": "AA", "DELAWARE": "DE", "ALASKA": "AK", "ILLINOIS": "IL",
    "Armed Forces Africa": "AE", "SOUTH DAKOTA": "SD", "CONNECTICUT": "CT", "MONTANA": "MT",
    "MASSACHUSETTS": "MA", "PUERTO RICO": "PR", "Armed Forces Canada": "AE", "NEW HAMPSHIRE": "NH",
    "MARYLAND": "MD", "NEW MEXICO": "NM", "MISSISSIPPI": "MS", "TENNESSEE": "TN",
    "PALAU": "PW", "COLORADO": "CO", "Armed Forces Middle East": "AE", "NEW JERSEY": "NJ",
    "UTAH": "UT", "MICHIGAN": "MI", "WEST VIRGINIA": "WV", "WASHINGTON": "WA",
    "MINNESOTA": "MN", "OREGON": "OR", "VIRGINIA": "VA", "VIRGIN ISLANDS": "VI",
    "MARSHALL ISLANDS": "MH", "WYOMING": "WY", "OHIO": "OH", "SOUTH CAROLINA": "SC",
    "INDIANA": "IN", "NEVADA": "NV", "LOUISIANA": "LA", "NORTHERN MARIANA ISLANDS": "MP",
    "NEBRASKA": "NE", "ARIZONA": "AZ", "WISCONSIN": "WI", "NORTH DAKOTA": "ND",
    "Armed Forces Europe": "AE", "PENNSYLVANIA": "PA", "OKLAHOMA": "OK", "KENTUCKY": "KY",
    "RHODE ISLAND": "RI", "DISTRICT OF COLUMBIA": "DC", "ARKANSAS": "AR", "MISSOURI": "MO",
    "TEXAS": "TX", "MAINE": "ME"
}

# Функция для сопоставления имен штатов с аббревиатурами
def match_state(state_name):
    # 94 - максимальное значение при котором сопоставляются все штаты
    match = process.extractOne(state_name, state_abbreviations.keys(), score_cutoff=94)
    if match:
        return state_abbreviations[match[0]]
    return None

# Добавление нового столбца abbrev с аббревиатурами штатов
abbrev = df['state'].apply(match_state)
df.insert(df.columns.get_loc("postal-code") + 1, "abbrev", abbrev)
df

Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.10/dist-packages (0.18.0)

,account,name,street,city,state,postal-code,abbrev,Jan,Feb,Mar,total
0,211829,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,Texas,28752,TX,10000,62000,35000,107000
1,320563,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,NorthCarolina,38365,NC,95000,45000,35000,175000
2,648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa,76517,IA,91000,120000,35000,246000
3,109996,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,Maine,46021,ME,45000,120000,10000,175000
4,121213,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California,49681,CA,162000,120000,35000,317000
5,132971,"Williamson, Schumm and Hettinger",89403 Casimer Spring,Jeremieburgh,Arkansas,62785,AR,150000,120000,35000,305000
6,145068,Casper LLC,340 Consuela Bridge Apt. 400,Lake Gabriellaton,Mississipi,18008,MS,62000,120000,70000,252000
7,205217,Kovacek-Johnston,91971 Cronin Vista Suite 601,Deronville,RhodeIsland,53461,RI,145000,95000,35000,275000
8,209744,Champlin-Morar,26739 Grant Lock,Lake Juliannton,Pennsylvania,64415,PA,70000,95000,35000,200000
9,212303,Gerhold-Maggio,366 Maggio Grove Apt. 998,North Ras,Idaho,46308,ID,70000,120000,35000,225000
10,214098,"Goodwin, Homenick and Jerde",649 Cierra Forks Apt. 078,Rosaberg,Tenessee,47743,TN,45000,120000,55000,220000
11,231907,Hahn-Moore,18115 Olivine Throughway,Norbertomouth,NorthDakota,31415,ND,150000,10000,162000,322000
12,242368,"Frami, Anderson and Donnelly",182 Bertie Road,East Davian,Iowa,72686,IA,162000,120000,35000,317000
13,268755,Walsh-Haley,2624 Beatty Parkways,Goodwinmouth,RhodeIsland,31919,RI,55000,120000,35000,210000
14,273274,McDermott PLC,8917 Bergstrom Meadow,Kathryneborough,Delaware,27933,DE,150000,120000,70000,340000

14) Выполнив соответствующую группировку, подсчитайте объем продаж по каждому
штату.

In [ ]:
import locale

# Устанавливаем локаль для форматирования в долларах
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')
def format_dollars(number):
    return locale.currency(number, grouping=True, symbol=True).split(".")[0]

grouped_data = df.groupby('abbrev')[['Jan', 'Feb', 'Mar', 'total']].sum()
grouped_data.applymap(format_dollars)

             Jan       Feb       Mar     total
abbrev
AR      $150,000  $120,000   $35,000  $305,000
CA      $162,000  $120,000   $35,000  $317,000
DE      $150,000  $120,000   $70,000  $340,000
IA      $253,000  $240,000   $70,000  $563,000
ID       $70,000  $120,000   $35,000  $225,000
ME       $45,000  $120,000   $10,000  $175,000
MS       $62,000  $120,000   $70,000  $252,000
NC       $95,000   $45,000   $35,000  $175,000
ND      $150,000   $10,000  $162,000  $322,000
PA       $70,000   $95,000   $35,000  $200,000
RI      $200,000  $215,000   $70,000  $485,000
TN       $45,000  $120,000   $55,000  $220,000
TX       $10,000   $62,000   $35,000  $107,000

15) И наконец, добавьте итоговую строку:

In [ ]:
total_row = grouped_data.agg('sum').rename(index='total')
grouped_data_with_total = grouped_data.append(total_row)
# = pd.concat([grouped_data, total_row.to_frame().T])

grouped_data_with_total.applymap(format_dollars)

<ipython-input-47-a8ea332d4730>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  grouped_data_with_total = grouped_data.append(total_row)

               Jan         Feb       Mar       total
abbrev
AR        $150,000    $120,000   $35,000    $305,000
CA        $162,000    $120,000   $35,000    $317,000
DE        $150,000    $120,000   $70,000    $340,000
IA        $253,000    $240,000   $70,000    $563,000
ID         $70,000    $120,000   $35,000    $225,000
ME         $45,000    $120,000   $10,000    $175,000
MS         $62,000    $120,000   $70,000    $252,000
NC         $95,000     $45,000   $35,000    $175,000
ND        $150,000     $10,000  $162,000    $322,000
PA         $70,000     $95,000   $35,000    $200,000
RI        $200,000    $215,000   $70,000    $485,000
TN         $45,000    $120,000   $55,000    $220,000
TX         $10,000     $62,000   $35,000    $107,000
total   $1,462,000  $1,507,000  $717,000  $3,686,000